
* {
    margin: 0;
    padding: 0;
}

body {
    background: grey
}

.conteiner {
    margin: 100px auto 0px auto;
    background: #fff;

    max-width: 500px;
    border-radius: 30px;
    padding: 50px;
}

.conteiner h1 {
    margin-bottom: 50px;
    border-bottom: 2px solid black;
    width: max-content;
    font-size: 2.2em;
    
}

.question {
    
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 30px;

    height: 50px;
    display: flex;
    align-items: center;

    padding-left: 15px;
    border-radius: 25px;
    background-color: rgba(128, 128, 128, 0.445);
    
}

.answers p {

    display: flex;
    align-items: center;

    height: 40px;
    margin-bottom: 10px;
    font-size: 1.3em;

    border-radius: 25px;
    background-color: rgba(128, 128, 128, 0.445);
}

.answers p:hover {
    background-color: rgba(61, 61, 61, 0.555);
}

.odpovedTlacitko {
    background: transparent;
    cursor: pointer;
    width: 100%;
    height: 100%;

    border: none;
    outline: none;
    
}

.text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;

    font-size: 1.2em;
    font-weight: 600;

    color: rgb(31, 31, 133);
}

.tlacitko {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 30px;
}

.dalsiOtazka {
    outline: none;
    border: none;

    background: rgb(31, 31, 133);
    color: #fff;

    border-radius: 25px;
    padding: 10px 20px;

    font-weight: 500;
    cursor: pointer;

}

.poradiOtazky {
    padding-left: 5px;
}

.tecka {
    margin-right: 8px;
}